<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="video_downloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <video_downloader.Properties.Settings>
            <setting name="savedFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="savedOutput" serializeAs="String">
                <value />
            </setting>
            <setting name="isSaved" serializeAs="String">
                <value>0</value>
            </setting>
        </video_downloader.Properties.Settings>
    </userSettings>
</configuration>